*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(228, 231, 235);
    font-family: sans-serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #f7f8fa;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ece8e8,
                      5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,70px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: rgba(231, 231, 207, 0.507);
    box-shadow: inset -5px -5px 12px #f7f8fa,
                inset 5px 5px 12px rgba(135, 201, 221, 0.76);
    border: none;
    border-radius: 29px;
    color: rgb(70,70,70);
    font-size: 40px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 50px;
    width: 48px;
    background-color: #d7e4eee3;
    box-shadow: -5px -5px 12p x #cecbcb,
                5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 40%;
    margin: 7px;
    font-size: 18px;
}
.equal{
    width: 117px;
    border-radius: 38px;
    background:  #e9eceee3;
    box-shadow: -5px -5px 12p x #cecbcb,
                  5px 5px 12px rgba(0,0,0,.16);
}